.container{
  background-color: aquamarine;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  margin-bottom: 1rem;
}

.card{
  padding: 1rem;
  background-color: aliceblue !important;
}

.btn-login{
  width: 100%;
}


.login-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.login-field {
  width: 100%;
}

.mat-mdc-button-disabled{
  background-color: gray !important;
}
